{% extends 'base.html'%}
{% load i18n %}
{% block idtab %}class="on"{% endblock idtab %}
{% block content %}

{% if error %}
    <h2>{% trans "Error" %}</h2>
    <p>
    {% ifequal error "dontexist" %}{% trans "That identity don't exist." %}{% endifequal %}
    {% ifequal error "notmine" %}{% trans "Is not your identity." %}{% endifequal %}
    </p>
{% endif %}
{% if ok %}
    <h2>{% trans "Identity deleted." %}</h2>
{% endif%}
{% if not error and not ok %}
        <h2>{% trans "Delete this identity?" %}</h2>
        <form method=post action="">{% csrf_token %}
        <table>
        {{ form }}
        </table>
        <p class="validate"><input type="submit" value="{% trans "Confirm" %}" /></p>
        </form>
{% endif %}
        <p><a href="{% url accountdetail %}">{% trans "Return to your account page." %}</a></p>
{% endblock content %}
